.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: rgb(13, 194, 255);
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

.table {
  width: 60%;
  margin: auto;
}

.week {
  display: flex;
  justify-content: space-between;
}

.threeHourForecast {
  background-color: lightblue;
}

.threeHourSmall {
  border-style: solid;
}

.threeHourSmall p {
  font-size: 0.5em;
}

.Day {
  border-style: solid;
  border-width: 2mm;
  border-color: gray;
}

.Day:hover {
  background-color: darkgray;
}

.clickBelow {
  font-size: 0.7em;
  text-align: center;
}
